<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Posts</title>
  </head>
  <body>


  <!-- New post form -->
    <form method='post' action='/articles'>
      <input type='text' placeholder='title' name='title'/>
      <input type='text' placeholder='author' name='author'/>
      <textarea placeholder='post' name'body'> </textarea>
      <button type='submit'>Post!</button>
    </form>

  </body>
</html>
